.drum-pad {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 3px;
  cursor: pointer;
  background-color: rosybrown;
  text-align: center;
  text-transform: uppercase;
  margin: 5px;
  padding: 25px;
}
